html {
  font-family: comic sans;
  background: url("https://i.dailymail.co.uk/i/pix/2015/03/10/0C07226D00000578-2987126-image-a-36_1425981691602.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
main {
  font-family: "arial black";
  background: hsl(40, 40%, 14%);
  padding: 1.5rem 0.625rem;
  border-radius: 0.75rem;
  text-align: center;
  margin: 100px 250px;
  color: #D1BE00;
  opacity: 0.925;
}

form {
  color: yellow;
  opacity: 0.95;
}

input {
  background-color: #BADBC7;
  font-family: monospace;
  opacity: 0.9;
  margin-bottom: 20px;
}

label {
  margin-bottom: 0px;
}

h1 {

  font-size: 36px;
}

label {
  display: block;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 18px;
}

h3 {
  font-size: 12px;
}

textarea{
  background-color: #BADBC7;
}